@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "manrope", sans-serif;
  font-size: 28px;
}

.middle {
  left: 46%;
}

@media(max-width: 400px){
  .middle{
    left: 42%;
  }
}